.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.squares-container {
  display: flex;
}

.square {
  height: 100px;
  width: 100px;
  transition: all ease 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover, button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.square:active, button:active {
  transform: scale(0.9);
}

button {
  padding: 15px;
  width: 300px;
  border-radius: 12px;
  border: none;
  user-select: none;
  transition: all ease 0.2s;
}

.winner-square {
  border: red solid 3px;
}
